= content_for :nav do
	li:	a[href="/"] projects
	li:	span about
	li:	a[href="/code"] code

= content_for :main do
	h2 What ?
	p Gritweb is a gitweb-like web interface, running on top of Ruby with Sinatra and the Grit gem.

	h2 Why ?
	p I could not find a suitable alternative to gitweb, except in PHP, but it was too “bootstrap” and I did not want to make a new template for it. So I went for my own system.