= content_for :nav do
	li:	span projects
	li:	a[href="/about"] about
	li:	a[href="/code"] code

= content_for :main do
	- if not @repos == []
		table.width-100
			thead
				tr
					th Name
					th Description
					th Last updated
					th Links
			tbody
				- for repo in @repos
					- interface = Grit::Repo.new("#{$repos_dir}/#{repo}")
					tr
						td.width-10: a.no-decorations[href="#{repo}/"] #{repo}
						- if not interface.description == "Unnamed repository; edit this file 'description' to name the repository."
							td.width-65: a.color-gray.dotted[href="#{repo}/"] #{interface.description}
						- else
							td.width-65
						td = to_pretty(interface.commits.first.date)
						td 
							a.label.label-data>[href="/#{repo}/"] (summary) 
							a.label.label-data>[href="/#{repo}/log/"] (log) 
							a.label.label-data[href="/#{repo}/tree/"] (tree)
	- else
		h3 No repositories. Clone one or create one in #{$repos_dir}.
