doctype 1.1
html
	head
		title Gritweb :: #{@title}
		link[rel="stylesheet" href="/css/kube.min.css" type="text/css"]/
		link[rel="stylesheet" href="/css/master.css" type="text/css"]/

	body.unit-row
		#content
			#subnav
				ul
					== yield_content :nav
		
			#main.unit-centered.unit-80
				== yield_content :main

		footer.unit-centered.unit-80
			hr
			' Coucou, tu veux voir ma bite ?
		script[src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"]
