= content_for :nav do
	li: a[href="/"] home
	li:	span summary
	li:	a[href="/#{params[:repo]}/log/"] log
	li:	a[href="/#{params[:repo]}/tree/"] tree
	li:	a[href="/#{params[:repo]}/commit/"] commit

= content_for :main do
	- if @readme
	    ' README
		== Pygments.highlight(@readme.read, options: {linespans: 'line'})
		a.label.label-blue[href="/#{params[:repo]}/tarball"] tarball
		table.width-100
			thead
				tr
					th Age
					th Message
					th Author
			tbody
				- for commit in @commits[0..4]
					tr
						td.width-10
							== to_pretty(commit.date)
						td: a.color-gray-dark.dotted[href="/#{params[:repo]}/commit/#{commit.id}"] #{commit.message}
						td #{commit.author}
			- if not @commits.count <= 5
				tfoot
					tr.bold
						td: a[href="/#{params[:repo]}/log/"] […]
						td
						td
	- else 
		a.label.label-blue[href="/#{params[:repo]}/tarball"] tarball
		table.width-100
			thead
				tr
					th Age
					th Message
					th Author
			tbody
				- for commit in @commits
					tr
						td.width-10
							== to_pretty(commit.date)
						td: a.color-gray-dark.dotted[href="/#{params[:repo]}/commit/#{commit.id}"] #{commit.message}
						td #{commit.author}
			- if not @commits.count <= 10
				tfoot
					tr.bold
						td: a[href="/#{params[:repo]}/log/"] […]
						td
						td