= content_for :nav do
	li: a[href="/"] home
	li:	a[href="/#{params[:repo]}/"] summary
	li:	a[href="/#{params[:repo]}/log/"] log
	li:	a[href="/#{params[:repo]}/tree/"] tree
	li:	span commit

= content_for :main do
	div.units-row
		table.unit-70.table-flat
			tbody
				tr
					td author
					td #{@commit.author} #{"<" + @commit.author.email + ">"} - #{@commit.authored_date}
				tr
					td committer
					td #{@commit.committer} #{"<" + @commit.committer.email + ">"} - #{@commit.committed_date}
				tr
					td commit
					td #{@commit.id}
				tr
					td tree
					td #{@commit.tree.id}
				tr
					td parent
					td: a.color-gray-dark.dotted[href="/#{params[:repo]}/commit/#{@commit.parents[0]}"] #{@commit.parents[0]}
		- if @commit.diffs.count >= 5
			table.unit-30.table-flat
				thead
					tr
						th filename (click to see diff)
				tbody
					- for file in @commit.diffs[0..3]
						tr: td: a[href="##{file.b_path}"] == file.b_path
					- for file in @commit.diffs[4..@commit.diffs.count]
						tr: td: a.list-hidden[href="##{file.b_path}" style="display: none;"] == file.b_path
					tr: td: a.label[href="#" onclick="$('.list-hidden').slideToggle()"] more/less
		- else
			table.unit-30.table-flat
				thead
					tr
						th filename (click to see diff)
				tbody
					- for file in @commit.diffs[0..@commit.diffs.count]
						tr: td: a[href="##{file.b_path}"] == file.b_path

	h3 = @commit.message

	- stats = @commit.stats.to_diffstat
	- commitfile = 0
	- for file in @commit.diffs
		hr
		span[id="#{file.b_path}"]
			==> file.b_path
		- if stats[commitfile]
			span.label.label-red.color-red> -#{stats[commitfile].deletions}
			span.label.label-green.color-green +#{stats[commitfile].additions}
		br
		== Pygments.highlight(file.diff, lexer: 'diff', options: {linespans: 'line'})
		- commitfile += 1
