= content_for :nav do
	li: a[href="/"] home
	li:	a[href="/#{params[:repo]}/"] summary
	li:	a[href="/#{params[:repo]}/log/"] log
	li:	span tree
	li:	a[href="/#{params[:repo]}/commit/"] commit

= content_for :main do
	- if @breadcrumb
		nav.breadcrumbs.breadcrumbs-path
			ul
				li: a[href="/#{params[:repo]}/tree/"] root
				- for level in @breadcrumb
					li: a[href="/#{params[:repo]}/tree/#{@breadcrumb[0..@breadcrumb.index(level)].join("/")}"] #{level}
	- else
		nav.breadcrumbs.breadcrumbs-path
			ul
				li: a[href="/#{params[:repo]}/tree/"] root
	pre 
		| Blob : #{@tree.id} 
		a.label.label-data[href="/#{params[:repo]}/plain/#{params[:splat][0]}"] (plain)
	== Pygments.highlight(@tree.data, options: {linespans: 'line'})

