= content_for :nav do
	li: a[href="/"] home
	li:	a[href="/#{params[:repo]}/"] summary
	li:	a[href="/#{params[:repo]}/log/"] log
	li:	span tree
	li:	a[href="/#{params[:repo]}/commit/"] commit

= content_for :main do
	- if @breadcrumb
		nav.breadcrumbs.breadcrumbs-path
			ul
				li: a[href="/#{params[:repo]}/tree/"] root
				- for level in @breadcrumb
					li: a[href="/#{params[:repo]}/tree/#{@breadcrumb[0..@breadcrumb.index(level)].join("/")}"] #{level}
	- else
		nav.breadcrumbs.breadcrumbs-path
			ul
				li: a[href="/#{params[:repo]}/tree/"] root

	table.width-100
		thead
			tr
				th Mode
				th Name
				th Size
		tbody
			- for tree in @tree.trees
				tr
					td.width-10: code d---------
					td.width-80: a.color-blue.bold.no-decorations[href="#{tree.name.gsub(params[:splat][0], "")}/"] #{tree.name.gsub(params[:splat][0], "")}
					td -
			- for file in @tree.blobs
				tr
					td.width-10: code = "-" + file.mode[3..5].chars.map{|d|("%03b"%d).chars.zip(%w(r w x)).map{|f,c|f=='1'?c:'-'}.join}.join
					td.width-80: a.color-gray.dotted[href="#{file.name.gsub(params[:splat][0], "")}"] #{file.name.gsub(params[:splat][0], "")}
					td #{file.size}
