= content_for :nav do
	li: a[href="/"] home
	li:	a[href="/#{params[:repo]}/"] summary
	li:	span log
	li:	a[href="/#{params[:repo]}/tree/"] tree
	li:	a[href="/#{params[:repo]}/commit/"] commit

= content_for :main do
	a.label.label-blue[href="/#{params[:repo]}/tarball"] tarball
	table.width-100
		thead
			tr
				th Age
				th Message
				th Author
		tbody
			- for commit in @commits
				tr
					td.width-10
						== to_pretty(commit.date)
					td: a.color-gray-dark.dotted[href="/#{params[:repo]}/commit/#{commit.id}"] #{commit.message}
					td #{commit.author}
	ul.pagination
		- if not @repo.commits('master', 21, @page.to_i * 21) == []
			li.pagination-older: a[href="?page=#{@page.to_i + 1}"] &larr; older
		- if @page.to_i > 1 
			li.pagination-newest: a[href="?page=#{@page.to_i - 1}"] newer &rarr;
